* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  overflow-y: hidden;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

.MuiMenu-list {
  margin-left: "50px";
}


.navLink {
  text-decoration:none;
  color:#FFF;
  font-size:22px;

}

.navLink:hover {
  /* background-color: #F2F1EB; */
  color: #000 !important;
  opacity: 0.5;
  border-radius: 10px;

 }

 /* .navDiv {
  width: 10px;
  height: 50px;
  background-color: red;
  font-weight: bold;
  position: relative;
  animation: mymove 5s;
  animation-fill-mode: forwards;
  overflow: hidden;
} 
*/

/* #div1 {animation-timing-function: linear;}
#div2 {animation-timing-function: ease;}
#div3 {animation-timing-function: ease-in;}
#div4 {animation-timing-function: ease-out;}
#div5 {animation-timing-function: ease-in-out;} */

/* @keyframes mymove {
  from {left: 0px;}
  to {left: 100px;}
} 
*/


@media screen and (min-width: 320px){
  body{
    background-color: #8ACDD7;
  }
}

@media screen and (min-width: 425px){
  body{
    background-color: #B6C4B6;
  }
}

@media screen and (min-width:768px) {
  body{
    background-color: #FFF;
  }
}

/* button css targeted */
.css-1e6y48t-MuiButtonBase-root-MuiButton-root:hover {
  /* background-color: #DDF2FD; */
  background-color: #A0BFE0;
  color: #000 !important;
  
}

